.uploadCropOuter .fileInput {
  display: none;
}
.uploadCropOuter .fileInputLabel {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto 50px;
  padding: 110px 50px;
  font-size: 22px;
  color: #aaa;
  border: 1px solid #aaa;
}
.uploadCropOuter .cropperWrap {
  display: none;
  width: 300px;
  height: 300px;
  margin: 0 auto 50px;
}
.uploadCropOuter.ready .fileInputLabel {
  display: none;
}
.uploadCropOuter.ready .cropperWrap {
  display: block;
}
/*# sourceMappingURL=styles.css.map */