.uploadCropOuter {

  .fileInput {
    display: none;
  }

  .fileInputLabel {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0 auto 50px;
    padding: 110px 50px;
    font-size: 22px;
    color: #aaa;
    border: 1px solid #aaa;
  }

  .cropperWrap {
    display: none;
    width: 300px;
    height: 300px;
    margin: 0 auto 50px;
  }

  &.ready {

    .fileInputLabel{
      display: none;
    }

    .cropperWrap{
      display: block;
    }
  }
}
