.collapsibleTree ul.subTree {
  list-style-type: none;
  padding-left: 10px;
  min-height: 20px;
  margin-bottom: 0;
}
.collapsibleTree ul.subTree > li {
  position: relative;
  margin: 3px 0;
}
.collapsibleTree ul.subTree > li > span {
  cursor: pointer;
}
.collapsibleTree ul.subTree > li > span:before {
  content: '-';
  position: absolute;
  left: -13px;
  font-size: 20px;
  font-weight: bold;
  top: -6px;
}
.collapsibleTree ul.subTree > li.collapsed span:before {
  content: '+';
  position: absolute;
  left: -15px;
  font-size: 20px;
  font-weight: bold;
  top: -6px;
}
.collapsibleTree ul.subTree > li.collapsed > ul.subTree {
  display: none;
}
