
.collapsibleTree{
  ul.subTree{
    list-style-type: none;
    padding-left: 10px;
    min-height: 20px;
    margin-bottom: 0;

    &> li{
      position: relative;
      margin: 3px 0;

      &> span{
        cursor: pointer;
        &:before{
          content: '-';
          position: absolute;
          left: -13px;
          font-size: 20px;
          font-weight: bold;
          top: -6px;
        }
      }

      &.collapsed{
        span{
          &:before {
            content: '+';
            position: absolute;
            left: -15px;
            font-size: 20px;
            font-weight: bold;
            top: -6px;
          }
        }
        &>ul.subTree{
          display: none;
        }
      }
    }
  }
}