html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

table .btn-link {
  padding: 0;
}

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\f0de";
}

a.desc:after {
  content: "\f0dd";
}

.sort-numerical a.asc:after {
  content: "\f163";
}
.sort-numerical a.desc:after {
  content: "\f162";
}

.sort-ordinal a.asc:after {
  content: "\f15e";
}
.sort-ordinal a.desc:after {
  content: "\f15d";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/*# sourceMappingURL=styles.css.map */
