.imagePickerGallery {
  width: 100%;
  padding: 2px;
  display: block;
}
.imagePickerGallery .imagePickerItem {
  display: inline-block;
  width: 152px;
  height: 152px;
  border: 1px solid grey;
  -moz-user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  margin: 6px 6px 30px 6px;
  position: relative;
  text-align: center;
}
.imagePickerGallery .imagePickerItem .galleryThumbnail {
  max-width: 150px;
  max-height: 150px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  content: "";
  display: block;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.imagePickerGallery .imagePickerItem span.deleteImage {
  position: absolute;
  top: 2px;
  left: 125px;
  width: 20px;
  height: 20px;
  background-image: url("../images/close.png");
  display: inline-block;
  background-size: cover;
  cursor: pointer;
}

/*# sourceMappingURL=image_picker.css.map */
