/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.paintCard {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  padding: 10px 3px 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.paintCard .paintPreview {
  position: relative;
  margin: 0 auto;
  border: 1px solid #888;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
}
.paintCard .paintPreview.metallic:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle closest-side at 30px 30px, white, transparent);
}
.paintCard .paintPreview.fleck:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, transparent, transparent, white);
}
.paintCard h4 {
  min-height: 33px;
  margin-bottom: 0;
}
.paintCard h4.long {
  font-size: 15px;
}
/*# sourceMappingURL=paint.css.map */