@import '../../../../web/css/elements.less';

.paintCard {
  .rounded(5px);
  .drop-shadow(0, 1px, 3px, 0.6);
  padding: 10px 3px 5px;
  margin-top: 10px;
  margin-bottom: 5px;

  .paintPreview{
    position: relative;
    margin: 0 auto;
    border: 1px solid #888;
    width: 50px;
    height: 50px;
    .rounded(25px);

    font-size: 12px;
    line-height: 50px;
    text-align: center;

    &.metallic{
      &:after{
        content: "";
        position: absolute;
        top:-1px;
        left:0;
        width: 50px;
        height: 50px;
        background: radial-gradient(circle closest-side at 30px 30px, white, transparent);
      }
    }

    &.fleck{
      &:after{
        content: "";
        position: absolute;
        top:-1px;
        left:0;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(to right, transparent, transparent, white);
      }
    }
  }

  h4{
    min-height: 33px;
    margin-bottom: 0;

    &.long {
      font-size: 15px;
    }
  }
}
