html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/*a{
  color: #333333;

  &:hover{
    color: #333333;
  }
}*/
.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.personalInfo .avatar {
  display: block;
  margin: 0 auto 30px;
  max-width: 100%;
}

.personalForm {
  display: none;
}

.mainpageList .listPreview {
  max-width: 100%;
}
.mainpageList .listDate {
  font-size: 10px;
  color: #666;
}
.mainpageList .listSnippet:hover {
  text-decoration: none;
}

.tourResultInputs .form-group {
  width: 30px;
}
.tourResultInputs .form-group .form-control {
  width: 30px;
  padding: 0;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
